{% extends 'layout/base.html' %}

{% block content %}
   <div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Detalii despre serviciu: {{ object.name }} </h5>
    <p class="card-text">{{ object.description }}</p>
    <a href="{% url 'home-page' %}" class="btn btn-primary">Go to homepage</a>
    <a href="{% url 'serviciu-edit' object.id %}" class="btn btn-success">Edit</a>
    <a href="{% url 'serviciu-delete' object.id %}" class="btn btn-danger">Delete</a>
      
  </div>
  <div class="card-footer text-body-secondary">
    maine e cald
  </div>
</div>
{% endblock content %}