{% extends 'layout/base.html' %}

{% block content %}

<div class="card text-white bg-secondary my-4 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Update information for {{ object.first_name }} - {{ object.second_name }} </p></div>
    </div>

    <div class="row gx-4 gx-lg-5">
    <form class="row gy-2 gx-3 align-items-center" method="post">
        {% csrf_token %}
        {{ form.as_table }}
        
        <div class="col-auto">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
    </form>
</div>
    
    
{%  endblock content %}